
.partial {
  margin-top: 7rem;
}

footer {
  margin-top: 100px;
  //text-align: center;
  //padding: 8rem;
  a { color: white; }
  background: #999;
  height: 300px;
}

footer {
  //position: relative;
  //left: 2000px;
  opacity: 0;
}

//body .container,

.partial {
}

#navbar {
  .container {
    opacity: 0;
  }
  left: 2000px;
}

.partial {
  //opacity: 0;
}

.fade-in {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.fade-in.ng-enter {
  opacity: 0;
}

.fade-in.ng-enter.ng-enter-active {
  opacity: 0.5;
}

.fade-in.ng-leave {
  opacity: 0.5;
}

.fade-in.ng-leave.ng-leave-active {
  opacity: 0;
}
