@import 'spin';

.partial {
  //margin-top: 7rem;
}

footer {
  margin-top: 100px;
  //text-align: center;
  //padding: 8rem;
  color: #555;
  a { color: #be824e; font-weight: 600; text-decoration: none; }
  font-weight: bolder;
  background: #e2e2e2;
  height: 500px;
  .container {
    padding-top: 5px;
  }
  border-top: 2px solid silver;
}

.main.container {
  min-height: 350px;
  //background: red;
  padding-top: 130px;
}

#unitModal span.model { min-width: 200px; display: inline-block; }

.langDropdown {
  display: inline-block;
  &.selector {
    .dropdown-toggle {
      width: 120px;
    }
  }
}

.learn {
  .langSelect {
    .dropdown-toggle {
      min-width: 100px;
    }
  }
}