@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.spin:not(:required) {
  -webkit-transform: translate3d(0px,0px,0px);
  -webkit-animation: spin 1250ms infinite linear;
  -moz-animation: spin 1250ms infinite linear;
  -ms-animation: spin 1250ms infinite linear;
  -o-animation: spin 1250ms infinite linear;
  animation: spin 1250ms infinite linear;
  position: relative;
  text-align: center;
  &.glyphicon-time {
    //top: 2px;
    width: 16px;
    height: 14px;
    //border: 1px solid red;
    //line-height: 1.7rem;
  }
  &.glyphicon-refresh {
    //top: 2px;
    width: 18px;
    height: 14px;
    //border: 1px solid red;
    //line-height: 1.7rem;
  }
}
