<div class="partial" ng-controller="DataCtrl as ctrl">
    <!-- editable list to display editable tables -->
    <editable-list model="ctrl.items" columns="['desc']" actions="[{name: 'delete', callback: null}]"></editable-list>

    <!-- new item -->
    <form name="formItem" ng-submit="addItem(item)">
        <div class="input-group">
            <span class="input-group-addon">Add</span>
            <input submit-state state="success" ng-disabled="pending" type="text" ng-model="item.desc" ng-disabled="submitted" class="form-control">
            <span class="input-group-addon success">Enter</span>
        </div>
    </form>
</div>