<div class="partial" ng-controller="DataCtrl">

<!-- Unit Modal -->
<div class="modal fade" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add/Remove/Edit Units</h4>
            </div>
            <div class="modal-body">
                <ul style="list-style: none;">
                    <li>
                        <editable-simple model="newUnit.name"
                                         submit-callback="saveUnit(newUnit)"
                                >
                        </editable-simple>
                    </li>
                    <li ng-repeat="unit in units track by unit.id">
                        <editable-simple model="unit.name"
                                         submit-callback="updateUnit(unit)"
                                         delete-callback="deleteUnit(unit)"
                                >
                        </editable-simple>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- main data -->
<div class="row">

    <div class="col-lg-6">

        <dropdown name="dropdown.lang.from" model="lang.from" selected="lang_selected.from_id"
                  list-model="languages"></dropdown>
        <span class="message error-message">{{error}}</span>

        <button class="btn btn-default btn-small" ng-click="swapLanguages()" ng-disabled="!words">
            <span ng-show="words" class="glyphicon glyphicon-transfer"></span>
            <span ng-show="!words">...</span>
        </button>

        <dropdown name="dropdown.lang.to" model="lang.to" ui-state-item-name="dropdown.to"
                  selected="lang_selected.to_id" list-model="languages"></dropdown>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                From Sort: {{sortMode[predicate][reverse+'']}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="setSortMode('updated_at', true)">Last Updated (latest top)</a></li>
                <li><a ng-click="setSortMode('updated_at', false)">Last Updated (oldest top)</a></li>
                <li><a ng-click="setSortMode('created_at', true)">Last Created (latest top)</a></li>
                <li><a ng-click="setSortMode('created_at', false)">Last Created (oldest top)</a></li>
                <li><a ng-click="setSortMode('name', false)">Alphabet (a-z)</a></li>
                <li><a ng-click="setSortMode('name', true)">Alphabet (z-a)</a></li>
            </ul>
        </div>
        <label>staple</label>
        <input type="checkbox" ng-model="stapleSort" ng-click="predicateT=predicate; reverseT=reverse;">

        <div class="btn-group" ng-show="!stapleSort">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                To Sort: {{sortMode[predicateT][reverseT+'']}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="predicateT='updated_at'; reverseT=true">Last Updated (latest top)</a></li>
                <li><a ng-click="predicateT='updated_at'; reverseT=false">Last Updated (oldest top)</a></li>
                <li><a ng-click="predicateT='created_at'; reverseT=true">Last Created (latest top)</a></li>
                <li><a ng-click="predicateT='created_at'; reverseT=false">Last Created (oldest top)</a></li>
                <li><a ng-click="predicateT='name'; reverseT=false">Alphabet (a-z)</a></li>
                <li><a ng-click="predicateT='name'; reverseT=true">Alphabet (z-a)</a></li>
            </ul>
        </div>
        <p></p>

        <label>items with translations only</label>
        <input type="checkbox" ng-model="translationsOnly">
        <br>

    </div>

    <div class="col-lg-6">

        <div class="btn-group" ng-init="unit.name='All'">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                {{selectedUnit.name}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="selectedUnit=defaultUnit; filterUnitItems=undefined; setUnitFilter();">All</a></li>
                <li ng-repeat="unit in units"><a ng-click="selectUnit(unit)">{{unit.name}}</a></li>
            </ul>
        </div>
        <button class="btn btn-default btn-info"
                ng-click="openUnitModal()">Edit Units
        </button>
        <br>
        <p ng-show="selectedUnit.id!==0">
            <span class="label label-warning">You can tag a pair now! It will get added with selected language direction.</span>
        </p>

        <div ng-show="selectedUnit.id!==0">
            <label>show only unit specific items</label>
            <input type="checkbox" ng-model="filterUnitItems" ng-click="setUnitFilter()">
        </div>


    </div>

</div>

<div class="row" ng-init="filter.field='name'">

    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search 'From' for..." ng-model="filterValue">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="filterValue=''" ng-disabled="!filterValue"
                            type="button">reset!
                    </button>
                  </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search 'To' for..."
                   ng-model="translationFilterValue">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="translationFilterValue=''"
                            ng-disabled="!translationFilterValue" type="button">reset!
                    </button>
                  </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<p></p>

<div class="row" ng-show="!words">
    <span>Loading ....</span>
</div>

<div class="row" ng-show="words">
    <table class="table table-bordered">
        <tr>
            <th>{{lang.from.name}}</th>
            <th>{{lang.to.name}}</th>
        </tr>
        <tr ng-show="!translationsOnly">
            <td>
                <editable-simple reset-cancel="true" submit-callback="saveWord(newWord) && (newWord=null)"
                                 model="newWord.name"></editable-simple>
            </td>
            <td>
            </td>
        </tr>
        <tr ng-repeat-start="word in words | filter:{'name':filterValue} | orderBy:predicate:reverse track by word.id"
            ng-hide="word.translations.length || translationsOnly || translationFilterValue || filterUnitItems">
            <!-- safe filter fix: substitute supplement before update -->
            <td ng-init="wordEdit.name=word.name">
                    <span>
                        <editable-simple model="wordEdit.name"
                                         bing="true"
                                         submit-callback="word.name=wordEdit.name; updateWord(word)"
                                         delete-callback="deleteWord(word)"
                                >
                        </editable-simple>
                    </span>
            </td>
            <td>
                    <span>
                        <editable-simple model="newTranslation.name"
                                         submit-callback="saveTranslation(word, newTranslation) && (newTranslation=null)"
                                >

                        </editable-simple>
                    </span>
            </td>
        </tr>
        <tr ng-repeat-start="trans in word.translations | orderBy:predicateT:reverseT | filter:{'name':translationFilterValue} | filter:{'unit_id':filterUnitId} track by trans.id">
            <!-- safe filter fix: substitute supplement before update -->
            <td ng-init="wordEdit.name=word.name">
                    <span ng-show="$first">
                        <editable-simple model="wordEdit.name"
                                         bing="true"
                                         submit-callback="word.name=wordEdit.name; updateWord(word)"
                                         delete-callback="deleteWord(word)"
                                >
                        </editable-simple>
                    </span>
            </td>
            <!-- safe filter fix: substitute supplement before update -->
            <td ng-init="transEdit.name=trans.name">
                <!--{{trans}}-->
                    <span>
                        <editable-simple model="transEdit.name"
                                         submit-callback="trans.name=transEdit.name; updateTranslation(word, trans)"
                                         delete-callback="deleteTranslation(word, trans)"
                                         tag="true"
                                >
                        </editable-simple>
                    </span>

            </td>
        </tr>
        <tr ng-repeat-end></tr>

        <tr ng-repeat-end ng-show="word.translations.length && !translationFilterValue && !filterUnitId">
            <td></td>
            <td>
                <editable-simple model="newTranslation.name"
                                 submit-callback="saveTranslation(word, newTranslation) && (newTranslation=null)"
                        >

                </editable-simple>
            </td>
        </tr>
    </table>
</div>

<br><br>

</div>
