<div class="partial" ng-controller="DataCtrl as ctrl">

    <dropdown name="dropdown.lang.from" model="lang.from" on-change="updateTableItems(lang)" selected="lang_selected.from_id"
              list-model="languages"></dropdown>
    <span class="message error-message">{{error}}</span>

    <button class="btn btn-default btn-small" ng-click="swapLanguages()">
        <span class="glyphicon glyphicon-transfer"></span>
    </button>

    <dropdown name="dropdown.lang.to" model="lang.to" ui-state-item-name="dropdown.to"
              on-change="updateTableItems(lang)" selected="lang_selected.to_id" list-model="languages"></dropdown>

    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th>{{lang.from.name}}</th>
                <th>{{lang.to.name}}</th>
            </tr>
            <tr>
                <td>
                    <editable-simple reset-cancel="true" submit-callback="saveWord(newWord) && (newWord=null)"
                                     model="newWord.name"></editable-simple>
                </td>
                <td>
                </td>
            </tr>
            <tr ng-repeat-start="word in ctrl.words" ng-hide="word.translations.length">
                <td>
                    <span>
                        <editable-simple model="word.name" submit-callback="updateWord(word)">
                        </editable-simple>
                    </span>
                </td>
                <td>
                    <span>
                        <editable-simple model="newTranslation.name"
                                         submit-callback="saveTranslation(word, newTranslation) && (newTranslation=null)"
                                >

                        </editable-simple>
                    </span>
                </td>
            </tr>
            <tr ng-repeat-start="trans in word.translations">
                <td>
                    <span ng-show="$first">
                        <editable-simple model="word.name"></editable-simple>
                    </span>
                </td>
                <td>
                    <span>
                        <editable-simple model="trans.name"
                                         submit-callback="updateTranslation(word, trans)"
                                >
                        </editable-simple>
                    </span>

                </td>
            </tr>
            <tr ng-repeat-end></tr>

            <tr ng-repeat-end ng-show="word.translations.length">
                <td></td>
                <td>
                    <editable-simple model="newTranslation.name"
                                     submit-callback="saveTranslation(word, newTranslation) && (newTranslation=null)"
                        >

                </editable-simple>
                </td>
            </tr>
        </table>
    </div>
    <br><br>
</div>
