<!-- Wrong Modal -->
<div class="modal fade" id="noMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center">
                <h2><span class="label label-danger">Wrong!</span></h2>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="match" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center">
                <h2><span class="label label-success">Correct!</span></h2>
            </div>
        </div>
    </div>
</div>

<div class="partial" ng-controller="DataCtrl as ctrl">

    <div ng-controller="LearnCtrl">

        <div class="row" ng-show="!unit.inProgress">
            <label>Pick Vocabulary from</label><br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" ng-click="unitMode='lang'" class="btn btn-default" ng-class="{'active': unitMode==='lang'}">Dictionary</button>
                <button type="button" ng-click="unitMode='unit'" class="btn btn-default" ng-class="{'active': unitMode==='unit'}">Units</button>
            </div>
            <br>
            <br>
        </div>

        <div class="row" ng-show="unitMode==='lang' && !unit.inProgress">
            <dropdown ready="ready" name="dropdown.lang.from" model="lang.from" selected="lang_selected.from_id"
                      list-model="languages"></dropdown>
            <span class="message error-message">{{error}}</span>

            <button ng-show="ready" class="btn btn-default btn-small" ng-click="swapLanguages()">
                <span class="glyphicon glyphicon-transfer"></span>
            </button>

            <dropdown ready="ready" name="dropdown.lang.to" model="lang.to" ui-state-item-name="dropdown.to"
                      selected="lang_selected.to_id" list-model="languages"></dropdown>
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{n_items}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="n_items=5">5</a></li>
                    <li><a ng-click="n_items=12">12</a></li>
                    <li><a ng-click="n_items=20">20</a></li>
                    <li><a ng-click="n_items=50">50</a></li>
                </ul>
            </div>
        </div>

        <div ng-show="units.length===0 && unitMode==='unit'" class="row"><div class="alert alert-danger col-lg-1">no units found</div></div>

        <div class="row" ng-show="unitMode==='unit' && !unit.inProgress && units.length !== 0">

            <div class="btn-group" ng-init="unit.name='All'">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{queryUnit.name}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="unit in units"><a ng-click="preFetchUnit(unit)">{{unit.name}}</a></li>
                </ul>
            </div>
            <br><br>
            <div class="btn-group btn-group-sm" role="group" aria-label="button group">
                <button type="button" class="btn btn-default" ng-class="{'active': !shuffle}" ng-click="shuffle=false">off</button>
                <button type="button" class="btn btn-default" ng-class="{'active': shuffle}" ng-click="shuffle=true">on</button>
            </div> <label>shuffle</label>

        </div>

        <br>
        <div class="row">
            <button ng-hide="unit.inProgress" class="btn btn-default btn-small btn-success" ng-click="startUnit()" ng-disabled="unitMode==='unit' && (units.length === 0 || unitEmpty)">
                <span class="glyphicon glyphicon-play"> Start</span>
            </button>
            <br><label class="text-danger" ng-show="unitMode==='unit' && unitEmpty">Unit is empty!</label>
            <button ng-show="unit.inProgress" ng-disabled="request.pending" class="btn btn-default btn-small btn-danger" ng-click="stopUnit()">
                <span class="glyphicon glyphicon-stop"> Stop</span>
            </button>
            <button ng-show="unit.inProgress && unit.finished" class="btn btn-default btn-small btn-success"
                    ng-click="unit.idx=0; unit.finished=false">
                <span class="glyphicon glyphicon-start"><span class="glyphicon glyphicon-repeat"></span></span>
            </button>
            <br><br>
        </div>
        <div class="row" ng-show="containing_langs && unit.inProgress && unitMode=='unit'">
            <h5>contains:</h5>
            <ul>
                <li ng-repeat="lang in containing_langs">
                    {{getLang(lang.from).name}} - {{getLang(lang.to).name}}
                </li>
            </ul>
        </div>

        <button data-toggle="tooltip" data-placement="top" title="shows hints in brackets" ng-show="unit.inProgress" class="btn btn-default btn-small btn-xs" ng-click="variant=!variant"
                ng-class="{'active': variant}">
            <span class="glyphicon glyphicon-start">Tips</span>
        </button>&nbsp;
        <button data-toggle="tooltip" data-placement="top" title="interactive: show input field" ng-show="unit.inProgress" class="btn btn-default btn-small btn-xs" ng-click="interactive=!interactive"
                ng-class="{'active': interactive}">
            <span class="glyphicon glyphicon-start">i</span>
        </button>&nbsp;

        <button data-toggle="tooltip" data-placement="top" title="Swap Direction!" ng-show="unit.inProgress" class="btn btn-default btn-small btn-xs" ng-click="swap()"
        ng-class="{'active': swapMode}">
        <span class="glyphicon glyphicon-retweet"></span>
        </button>&nbsp;

        <button ng-show="unit.inProgress" class="btn btn-default btn-small btn-warning" ng-disabled="unit.idx==0"
                ng-click="prev()">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
        <button ng-show="unit.inProgress" class="btn btn-default btn-small" ng-click="showItem()"
                ng-class="{'active': show}">
            <span class="">show</span>
        </button>
        <button ng-show="unit.inProgress" class="btn btn-default btn-small btn-warning"
                ng-disabled="unit.idx==unit_items.length-1" ng-click="next()">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>

        <div ng-show="unit.inProgress && !request.pending">
            <h3>
                {{unit_items[unit.idx].from.name}} <span ng-show="variant" class="text-info">
                ({{unit_items[unit.idx].to.name.slice(0,tipLength)}}{{dots.slice(0,unit_items[unit.idx].to.name.length-tipLength)}})
            </span>
            <span class="small">[{{getLang(unit_items[unit.idx].from.language_id).locale_string}} - {{getLang(unit_items[unit.idx].to.language_id).locale_string}}]</span>
            <span ng-show="noMatch" class="label label-danger">Wrong!</span>
            <span ng-show="match" class="label label-success">Correct!</span>
            </h3>

            <form name="inputForm" ng-submit="validator(input, unit_items[unit.idx])" novalidate="">
                <div class="input-group" ng-show="interactive">
                    <input id="query" type="text" class="form-control" ng-required="true" ng-model="input"></input>
                    <span class="input-group-btn">
                        <!--<button ng-click="validator(input)" class="btn btn-default btn-success"-->
                                <!--ng-disabled="false"-->
                                <!--type="submit">-->
                            <!--ok-->
                        <!--</button>-->
                    </span>
                </div>
            </form>

            <h3 ng-show="show">
                {{unit_items[unit.idx].to.name}}
            </h3>
        </div>

    </div>

    <br><br>

</div>


