<div class="partial" ng-controller="DataCtrl as ctrl">

    <div ng-controller="LearnCtrl">

        <div class="row" ng-show="!unit.inProgress">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" ng-click="unitMode='lang'" class="btn btn-default" ng-class="{'active btn-info': unitMode==='lang'}">All</button>
                <button type="button" ng-click="unitMode='unit'" class="btn btn-default" ng-class="{'active btn-info': unitMode==='unit'}">Units</button>
            </div>
            <br>
            <br>
        </div>

        <div class="row" ng-show="unitMode==='lang' && !unit.inProgress">
            <dropdown name="dropdown.lang.from" model="lang.from" selected="lang_selected.from_id"
                      list-model="languages"></dropdown>
            <span class="message error-message">{{error}}</span>

            <button class="btn btn-default btn-small" ng-click="swapLanguages()">
                <span class="glyphicon glyphicon-transfer"></span>
            </button>

            <dropdown name="dropdown.lang.to" model="lang.to" ui-state-item-name="dropdown.to"
                      selected="lang_selected.to_id" list-model="languages"></dropdown>

        </div>

        <div class="row" ng-show="unitMode==='unit' && !unit.inProgress">
            <div class="btn-group" ng-init="unit.name='All'">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{queryUnit.name}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="unit in units"><a ng-click="$parent.queryUnit=unit">{{unit.name}}</a></li>
                </ul>
            </div>
        </div>

        <br>
        <div class="row">
            <button ng-hide="unit.inProgress" class="btn btn-default btn-small btn-success" ng-click="startUnit()">
                <span class="glyphicon glyphicon-start">Start Unit</span>
            </button>
            <button ng-show="unit.inProgress" class="btn btn-default btn-small btn-danger" ng-click="stopUnit()">
                <span class="glyphicon glyphicon-start">Stop Unit</span>
            </button>
            <button ng-show="unit.inProgress && unit.finished" class="btn btn-default btn-small btn-success"
                    ng-click="unit.idx=0; unit.finished=false">
                <span class="glyphicon glyphicon-start"><span class="glyphicon glyphicon-repeat"></span></span>
            </button>
            <br><br>
        </div>
        <!--<section ng-hide="unit.inProgress">-->
            <!--<label>max items</label>-->
            <!--<input style="width: 50px;" ng-disabled="unit.inProgress" type="number" ng-model="n_items">-->
            <!--&lt;!&ndash;<label>least learned</label><input ng-disabled="unit.inProgress" type="checkbox"&ndash;&gt;-->
                                               <!--&lt;!&ndash;ng-model="sort_least_learned">&ndash;&gt;-->
            <!--<br>-->
            <!--<br>-->
        <!--</section>-->

        <span ng-show="request.pending">Loading ...</span>
        <button data-toggle="tooltip" data-placement="top" title="shows hints in brackets" ng-show="unit.inProgress" class="btn btn-default btn-small btn-xs" ng-click="variant=!variant"
                ng-class="{'active': variant}">
            <span class="glyphicon glyphicon-start">Tip</span>
        </button>&nbsp;
        <button data-toggle="tooltip" data-placement="top" title="interactive: show input field" ng-show="unit.inProgress" class="btn btn-default btn-small btn-xs" ng-click="interactive=!interactive"
                ng-class="{'active': interactive}">
            <span class="glyphicon glyphicon-start">i</span>
        </button>&nbsp;
        <!--<button data-toggle="tooltip" data-placement="top" title="Reverse Mode: switch language after each - very alpha!" ng-show="unit.inProgress" class="btn btn-default btn-small btn-xs" ng-click="reverseMode=!reverseMode"-->
                <!--ng-class="{'active': reverseMode}">-->
            <!--<span class="">r</span>-->
        <!--</button>&nbsp;-->
        <button data-toggle="tooltip" data-placement="top" title="Swap Direction!" ng-show="unit.inProgress" class="btn btn-default btn-small btn-xs" ng-click="swap()"
        ng-class="{'active': swapMode}">
        <span class="glyphicon glyphicon-retweet"></span>
        </button>&nbsp;
        <!--<div ng-show="learn">-->
        <!--<div>{{words[index].name}}</div>-->

        <!--<div>-->
        <!--<input type="text"/>-->
        <!--</div>-->

        <!--</div>-->
        <button ng-show="unit.inProgress" class="btn btn-default btn-small btn-warning" ng-disabled="unit.idx==0"
                ng-click="prev()">
            <span class="glyphicon glyphicon-start">prev.</span>
        </button>
        <button ng-show="unit.inProgress" class="btn btn-default btn-small" ng-click="showItem()"
                ng-class="{'active': show}">
            <span class="glyphicon glyphicon-start">show</span>
        </button>
        <button ng-show="unit.inProgress" class="btn btn-default btn-small btn-warning"
                ng-disabled="unit.idx==unit_items.length-1" ng-click="next()">
            <span class="glyphicon glyphicon-start">next</span>
        </button>

        <div ng-show="unit.inProgress">
            <!--{{unit_items[unit.idx]}}-->
            <h3>
                {{unit_items[unit.idx].from.name}} <span ng-show="variant">
                ({{unit_items[unit.idx].to.name.slice(0,tipLength)}}{{dots.slice(0,unit_items[unit.idx].to.name.length-tipLength)}})
            </span>
            </h3>

            <form name="inputForm" ng-submit="validator(input, unit_items[unit.idx])" novalidate="">
                <div class="input-group" ng-show="interactive">
                    <input type="text" class="form-control" ng-required="true" ng-model="input"></input>
                    <span class="input-group-btn">
                        <!--<button ng-click="validator(input)" class="btn btn-default btn-success"-->
                                <!--ng-disabled="false"-->
                                <!--type="submit">-->
                            <!--ok-->
                        <!--</button>-->
                    </span>
                </div>
            </form>

            <h3 ng-show="show">
                {{unit_items[unit.idx].to.name}}
            </h3>
        </div>

    </div>

    <br><br>

</div>


