<div class="partial">
    <p class="lead" style="margin-bottom: 40px;">Learn vocabulary easily - stable version</p>

    <h4>available features:</h4>
    <ul>
        <li>easily editable</li>
        <li>easily manage units and add items</li>
        <li>nice way of filtering and sorting</li>
        <li>auto translations using Bing Translations</li>
        <li>learn mode</li>
    </ul>
    <br>
    <p class="lead">
        <button ng-hide="profile" ng-click="handleSession()" class="ng-cloak btn btn-default btn"
                ng-class="{'btn-danger': profile}" data-toggle="tooltip" data-placement="right" title="Log in!">
            Sign Up <span class="glyphicon glyphicon-log-in"></span>
        </button>
    </p>
    <br>
    <br>
    <p class="small"><strong>you can also try the staging version with new features at <a href="http://sp33c.de/openvoc-staging/">http://sp33c.de/openvoc-staging</a> <span class="glyphicon glyphicon-link"></span>.</strong></p>
</div>
