<div class="partial">
    <!--<h1>OpenVoc</h1>-->
    <p class="lead" style="margin-bottom: 40px;">Learn vocabulary easily - staging version</p>
    <!--<h4 class="text-warning">learn mode not yet ready.</h4>-->
    <h4>available features:</h4>
    <ul>
        <li>easily editable</li>
        <li>easily manage units and add items</li>
        <li>nice way of filtering and sorting</li>
        <li>auto translations using Bing Translations</li>
        <li>learn mode</li>
    </ul>
    <br>

    <p>
        <strong>It would be nice if you can particpate.</strong>
    </p>
    <p>
        Frontend at <a href="https://github.com/afitterling/openvoc-frontend">https://github.com/afitterling/openvoc-frontend</a><span class="glyphicon glyphicon-link"></span><br>
        Backend at <a href="https://github.com/afitterling/openvoc-backend">https://github.com/afitterling/openvoc-backend<span class="glyphicon glyphicon-link"></span></a>
    </p>
    <p><br></p>
    <p><strong>The stable version, is deployed right here <a href="http://open-voc.org"><span
            class="glyphicon glyphicon-link"></span></a>.</strong></p>
</div>
