<div class="partial">
    <h1>OpenVoc</h1>
    <p class="lead">Learn vocabulary easily (pre-alpha)</p>
    <!--<h4 class="text-warning">learn mode not yet ready.</h4>-->
    <h4>available features:</h4>
    <ul>
        <li>easily editable</li>
        <li>auto translations on demand using bing</li>
        <li>nice filtering and stable sort handling</li>
    </ul>
    <br><br><br>

    <p><strong>You can also try the staging version with some new features ahead, right here <a href="http://sp33c.de/openvoc-staging"><span
            class="glyphicon glyphicon-link"></span></a></strong></p>
</div>
