<!doctype html>
<html class="no-js" ng-app="famousAngular">
<head>
    <meta charset="utf-8">
    <base href="/" />
    <title>OpenVoc</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/famous-angular/dist/famous-angular.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

</head>
<body ng-cloak>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="goTo('/')">OpenVoc&nbsp;
                    <button class="btn btn-default btn-sm btn-success">
                       SSL Secured!
                    </button>
                </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li ng-show="profile" class=""><a ui-sref="data">Translations</a></li>
                <li ng-show="profile" class=""><a ui-sref="profile">Profile</a></li>
                <li><a ng-click="handleSession()">
                    <button class="btn btn-default btn-sm">
                        <span ng-hide="profile">Sign In/Up</span>
                        <span ng-show="profile">Sign Out</span>
                    </button>
                </a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container" ui-view></div>

<footer>sp33c.de - <a href="http://sp33c.de">imprint</a></footer>

<script src="auth0-variables.js"></script>
<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>

<script src="bower_components/famous/dist/famous-global.js"></script>
<script src="bower_components/famous-angular/dist/famous-angular.js"></script>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>


<!-- my app -->
<script src="scripts/app.js"></script>
<script src="scripts/providers/settingsProvider.js"></script>
<!-- services -->
<script src="scripts/services/appStore.js"></script>
<script src="scripts/services/items.js"></script>
<script src="scripts/services/words.js"></script>
<script src="scripts/services/language.js"></script>
<script src="scripts/services/uiSettings.js"></script>
<!-- ctrls -->
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/data.js"></script>
<!-- reusable own components -->
<script src="components/forms/editable.js"></script>
<script src="components/forms/editableSimple.js"></script>
<script src="components/forms/submitState.js"></script>

<!-- d3 -->
<script src="bower_components/d3/d3.js"></script>

<!-- inject:partials -->
<!-- endinject -->
<!-- endbuild -->

<!-- jwt + auth0 -->
<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js" type="text/javascript"> </script>
<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="bower_components/auth0.js/build/auth0.min.js"></script>
<script src="bower_components/auth0-angular/build/auth0-angular.min.js"></script>
<script src="bower_components/auth0-lock/build/auth0-lock.min.js"></script>

</body>
</html>
