<!doctype html>
<html class="no-js" ng-app="famousAngular">
  <head>
    <meta charset="utf-8">
    <title>Famo.us/Angular</title>
    <!-- @TODO https://www.npmjs.org/package/gulp-html-replace -->
    <base href="/">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
      <!--<link rel="stylesheet" href="bower_components/famous-angular/dist/famous-angular.css">-->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

  </head>
  <body>

    <div class="hero" ng-show="!auth.profile">
      <div class="hero-inner">
          <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
    " alt="Logo Image"></a>
          <div class="hero-copy">
              <h1>Short description of Product</h1>
              <p>A few reasons why this product is worth using, who it's for and why they need it.</p>
          </div>
          <button ng-click="handleSession()">Sign up!</button>
      </div>
    </div>

    <header class="navigation">
        <div class="navigation-wrapper">
            <a href="javascript:void(0)" class="logo">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
            </a>
            <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
            <div class="nav">
                <ul id="navigation-menu">
                    <!--<li class="nav-link"><a href="javascript:void(0)">About Us</a></li>-->
                    <!--<li class="nav-link"><a href="javascript:void(0)">Contact</a></li>-->
                    <li class="nav-link more"><a href="javascript:void(0)">Profile</a>
                        <ul class="submenu" ng-show="!auth.profile">
                            <li><a href="javascript:void(0)" ng-click="handleSession()">Sign in</a></li>
                            <li><a href="javascript:void(0)">Sign up</a></li>
                        </ul>
                        <ul class="submenu" ng-show="auth.profile">
                            <li><a href="javascript:void(0)" ng-click="handleSession()">Log out</a></li>
                        </ul>
                    </li>
                    <!--<li class="nav-link"><a href="javascript:void(0)" ng-click="goTo('/voc');">Vocabulary</a></li>-->
                </ul>
            </div>
            <div class="navigation-tools">

                <div class="search-bar">
                    <div class="search-and-submit">
                        <span class="profile name">{{auth.profile.email}}</span>
                        <!--<input type="search" placeholder="Enter Search" />-->
                        <!--<button type="submit">-->
                            <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">-->
                        <!--</button>-->
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="main">
        <div ui-view></div>
    </section>

    <footer class="footer">
        <div class="footer-logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
        </div>
        <div class="footer-links">
            <ul>
                <li><h3>Content</h3></li>
                <li><a href="javascript:void(0)">About</a></li>
                <li><a href="javascript:void(0)">Contact</a></li>
                <li><a href="javascript:void(0)">Products</a></li>
            </ul>
            <ul>
                <li><h3>Follow Us</h3></li>
                <li><a href="javascript:void(0)">Facebook</a></li>
                <li><a href="javascript:void(0)">Twitter</a></li>
                <li><a href="javascript:void(0)">YouTube</a></li>
            </ul>
            <ul>
                <li><h3>Legal</h3></li>
                <li><a href="javascript:void(0)">Terms and Conditions</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
            </ul>
        </div>

        <hr>

        <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- build:js({app,.tmp}) scripts/main.js -->

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!--<script src="bower_components/angular-route/angular-route.js"></script>-->

    <script src="bower_components/underscore/underscore.js"></script>
    <!--<script src="bower_components/famous/famous-global.js"></script>-->
    <!--<script src="bower_components/famous-angular/dist/famous-angular.js"></script>-->

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>

    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- Auth0 widget script and AngularJS module -->
    <script src="//cdn.auth0.com/w2/auth0-widget-5.2.min.js"></script>
    <script src="//cdn.auth0.com/w2/auth0-angular-1.1.min.js"> </script>


    <script>
      $(document).ready(function() {
          var menu = $('#navigation-menu');
          var menuToggle = $('#js-mobile-menu');
          var signUp = $('.sign-up');

          $(menuToggle).on('click', function(e) {
              e.preventDefault();
              menu.slideToggle(function(){
                  if(menu.is(':hidden')) {
                      menu.removeAttr('style');
                  }
              });
          });

          // underline under the active nav item
          $(".nav .nav-link").click(function() {
              $(".nav .nav-link").each(function() {
                  $(this).removeClass("active-nav-item");
              });
              $(this).addClass("active-nav-item");
              $(".nav .more").removeClass("active-nav-item");
          });
      });
  </script>
  </body>
</html>
