<!doctype html>
<html class="no-js" ng-app="famousAngular">
<head>
    <meta charset="utf-8">
    <base href="/" />
    <title>Open-voc.org | Free Vocabulary Training Software</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/famous-angular/dist/famous-angular.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- ng-cloak -->
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

    <!-- poly fill reqAnimFrame -->
    <script>
        (function() {
            var lastTime = 0;
            var vendors = ['webkit', 'moz'];
            for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
                window.requestAnimationFrame = window[vendors[x]+'RequestAnimationFrame'];
                window.cancelAnimationFrame =
                        window[vendors[x]+'CancelAnimationFrame'] || window[vendors[x]+'CancelRequestAnimationFrame'];
            }

            if (!window.requestAnimationFrame)
                window.requestAnimationFrame = function(callback, element) {
                    var currTime = new Date().getTime();
                    var timeToCall = Math.max(0, 16 - (currTime - lastTime));
                    var id = window.setTimeout(function() { callback(currTime + timeToCall); },
                            timeToCall);
                    lastTime = currTime + timeToCall;
                    return id;
                };

            if (!window.cancelAnimationFrame)
                window.cancelAnimationFrame = function(id) {
                    clearTimeout(id);
                };
        }());
    </script>
</head>
<body>
<!--[if lt IE 9]>
    <p class="alert alert-danger">Warning, your browser is not supported. Please, check this page <a href="http://browsehappy.com/">
        <span class="glyphicon glyphicon-link"></span>
    </a></p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="goTo('/')" style="font-size: 3.75rem; letter-spacing: 1.5px; margin-right: 10px;"
               data-toggle="tooltip" data-placement="bottom" title="Use Free OpenVoc anywhere! Click for Title Page.">
                Open-Voc<span class="small" style="font-size: 45%;">.org</span> <span class="glyphicon glyphicon-list glyphicon-list" style="font-size: 2.7rem;"></span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse ng-cloak">
            <ul class="nav navbar-nav ng-cloak">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li ng-show="profile" ng-class="{'active': link==='/dictionary'}" data-toggle="tooltip" data-placement="bottom" title="Edit your personal dictionary!"><a ng-click="goTo('/dictionary')">Dictionary</a></li>
                <li ng-show="profile" ng-class="{'active': link==='/learn'}" data-toggle="tooltip" data-placement="bottom" title="Learn your vocabulary!"><a ng-click="goTo('/learn')">Learn</a></li>
                <li ng-show="profile" ng-class="{'active': link==='/profile'}" data-toggle="tooltip" data-placement="bottom" title="See your profile!"><a ng-click="goTo('/profile')">Profile <span class="glyphicon glyphicon-user"></span></a></li>
                <li ng-show="profile" ng-class="{'active': link==='/feedback'}" data-toggle="tooltip" data-placement="bottom" title="Give Feedback!"><a ng-click="goTo('/feedback')"><span class="glyphicon glyphicon-leaf"></span></a></li>
                <li><a ng-click="handleSession()">
                    <button class="ng-cloak btn btn-default btn-xs btn-info" ng-class="{'btn-danger': profile}">
                        <span ng-hide="profile" class="glyphicon glyphicon-log-in" data-toggle="tooltip" data-placement="right" title="login!"></span>
                        <span ng-show="profile" class="glyphicon glyphicon-off" data-toggle="tooltip" data-placement="right" title="logout!"></span>
                    </button>
                </a></li>
                <li><a ng-show="pendingRequests" data-toggle="tooltip" data-placement="right" title="Internet requests are pending!"><div class="spin"><span style="color: gold;" class="glyphicon glyphicon-refresh"></span></div></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="main container" ui-view></div>

<footer>
    <div class="container">
        <span class="small">powered by @</span><a style="font-size: 1.7rem;" href="http://sp33c.de">sp33c.de</a>
    </div>
</footer>

<script src="auth0-variables.js"></script>
<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>

<script src="bower_components/famous/dist/famous-global.js"></script>
<script src="bower_components/famous-angular/dist/famous-angular.js"></script>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>


<!-- my app -->
<script src="scripts/app.js"></script>
<script src="scripts/providers/settingsProvider.js"></script>
<!-- services -->
<script src="scripts/services/appStore.js"></script>
<script src="scripts/services/validationActionsStore.js"></script>
<script src="scripts/services/items.js"></script>
<script src="scripts/services/words.js"></script>
<script src="scripts/services/units.js"></script>
<script src="scripts/services/language.js"></script>
<script src="scripts/services/uiSettings.js"></script>
<!-- ctrls -->
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/data.js"></script>
<!-- reusable own components -->
<script src="components/forms/editable.js"></script>
<script src="components/forms/editableSimple.js"></script>
<script src="components/forms/submitState.js"></script>
<script src="components/forms/dropdown.js"></script>

<!-- d3 -->
<script src="bower_components/d3/d3.js"></script>

<!-- inject:partials -->
<!-- endinject -->
<!-- endbuild -->

<!-- jwt + auth0 -->
<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js" type="text/javascript"> </script>
<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="bower_components/auth0.js/build/auth0.min.js"></script>
<script src="bower_components/auth0-angular/build/auth0-angular.min.js"></script>
<script src="bower_components/auth0-lock/build/auth0-lock.min.js"></script>

<script>
    $('nav [data-toggle="tooltip"]').tooltip();
</script>

</body>
</html>
