<form name="dropdown" novalidate="">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" ng-class="{'btn-danger': $parent.status==false}" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-expanded="true">
            {{current.name}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="item in menuItems" role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                                     ng-click="select(item.id)">{{item.name}}</a></li>
        </ul>
    </div>
</form>
