<div ng-init="oldModel=model">
    <form ng-show="edit" name="formItem" ng-submit="submitCallback({model: model}) || (model=oldModel)" novalidate>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default btn-warning" type="button" ng-click="edit=false; model=oldModel;">
                    cancel
                </button>
            </span>
            <input type="text" class="form-control" ng-required="true" ng-model="model"></input>
            <span class="input-group-btn">
                <button ng-click="submitCallbackFunc(model); edit=false" class="btn btn-default btn-success"
                        ng-disabled="!formItem.$valid"
                        type="submit">
                    Submit!
                </button>
            </span>
        </div>
    </form>
    <!-- @TODO -->
    <!--<span ng-hide="edit" ng-click="edit=true">{{(!resetCancel && model) || '+'}}</span>-->
    <span ng-hide="edit || model" ng-click="edit=true"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></span>
    <span ng-hide="edit || !model" ng-click="edit=true">{{model}}</span>
    <span ng-hide="edit || !model"><button ng-click="deleteCallback(model)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></span>
    <!--<span ng-hide="edit || !model"><button ng-click="tag()" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-add">tag</span></button></span>-->
    <span ng-hide="edit || !model || !bing"><button ng-click="$parent.bingTranslate($parent.word)" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-add">bing!</span></button></span>
</div>
